<section>
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-9">
            <h1 class="titulo">Gerenciador de categorias</h1>

            <div id="accordion">

                <!-- BOX 1 -->
                <div class="accordion-header row">Buscar por categorias</div>
                <div class="accordion-content row">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Busca por categorias" ng-model="searchCat">
                                <div class="input-group-addon btn" ng-click="buscaCategoria()"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped col-md-5" ng-show="listCat">
                        <thead>
                        <tr>
                            <th>Categoria</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr dir-paginate="list in listCat | filter:q | itemsPerPage: 5" current-page="currentPage">
                            <td>{{ list.nome}}</td>
                            <td>
                                <button class="btn btn-sm btn-info" title="Editar" ng-click="editarCat($index)"> <i class="glyphicon glyphicon-pencil"></i></button>
                                <button class="btn btn-sm btn-info" title="Excluir" ng-click="excluirCat($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" template-url="directives/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>

                <!-- BOX 2 -->
                <div class="accordion-header row">Criar nova categoria</div>
                <div class="accordion-content row box2">

                    <div class="form-group pull-right">
                        <button class="btn btn-warning" ng-click="addCategoria()">SALVAR</button>
                    </div>

                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group col-md-7">
                                <label class="control-label col-sm-4">Nome da categoria</label>
                                <input type="text" class="form-control" ng-model="cat.nome" maxlength="40">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- BOX 3 -->
                <div class="accordion-header row">Buscar por sub categorias</div>
                <div class="accordion-content row">
                    <div class="">


                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Busca por sub categorias" ng-model="searchSub">
                                <div class="input-group-addon btn" ng-click="buscaSubCategoria()"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped col-md-5" ng-show="listSub">
                        <thead>
                        <tr>
                            <th>Sub Categoria</th>
                            <th>Categoria</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="list in listSub">
                            <td>{{ list.nome}}</td>
                            <td>{{ list.categoria}}</td>
                            <td>
                                <button class="btn btn-sm btn-info" title="Editar" ng-click="editarSub($index)"> <i class="glyphicon glyphicon-pencil"></i></button>
                                <button class="btn btn-sm btn-info" title="Excluir" ng-click="excluirSub($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                <!-- BOX 4 -->
                <div class="accordion-header row">Criar nova sub categoria</div>
                <div class="accordion-content row box4">
                    <div class="form-group pull-right">
                        <button class="btn btn-warning" ng-click="addSubCategoria()">SALVAR</button>
                    </div>

                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group col-md-5">
                                <label class="control-label col-sm-4">Categoria pai</label>
                                <select class="form-control" ng-model="sub.id_categoria">
                                    <option ng-repeat="l in listCat" value="{{ l.idCategoria }}">{{ l.nome }}</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label col-sm-3">Nome</label>
                                <input type="text" class="form-control" ng-model="sub.nome" maxlength="40">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>