<menu-principal></menu-principal>

<div class="topo col-md-12" ng-controller="TopoCtrl as t">
    <div>
        <h1>Olá, <small>Mateus Marques</small></h1>
        <h5><b>Seu último acesso foi em: 18/07/2015 às 18h</b></h5>
    </div>
</div>

<section ng-controller="CategoriaController as cat">
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-9">
            <h1 class="titulo">Gerenciador de categorias</h1>

            <div id="accordion">

                <!-- BOX 1 -->
                <div class="accordion-header">Buscar por categorias</div>
                <div class="accordion-content open">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Busca por categorias">
                                <div class="input-group-addon btn"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </form>

                    <hr/>

                </div>

                <!-- BOX 2 -->
                <div class="accordion-header">Criar nova categoria</div>
                <div class="accordion-content">
                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-7">
                                <label class="control-label col-sm-4" for="inpNomeCat">Nome da categoria</label>
                                <input type="text" class="form-control" id="inpNomeCat" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-4"></div>
                            <div class="form-group has-feedback col-md-1">
                                <button class="btn btn-warning">SALVAR</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- BOX 3 -->
                <div class="accordion-header">Criar nova sub categoria</div>
                <div class="accordion-content">
                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-4" for="inpCategoria">Categoria pai</label>
                                <select class="form-control" id="inpCategoria" aria-hidden="true">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-md-4">
                                <label class="control-label col-sm-3" for="inpNomeSubCat">Nome</label>
                                <input type="text" class="form-control" id="inpNomeSubCat" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-2"></div>
                            <div class="form-group has-feedback col-md-1">
                                <button class="btn btn-warning">SALVAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>