<menu-principal></menu-principal>

<div class="topo col-md-12" ng-controller="TopoCtrl as t">
    <div>
        <h1>Olá, <small>Mateus Marques</small></h1>
        <h5><b>Seu último acesso foi em: 18/07/2015 às 18h</b></h5>
    </div>
</div>

<section ng-controller="HomeController as home">
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-9">
            <h1 class="titulo">Configurações</h1>

            <div id="accordion">

                <!-- BOX 1 -->
                <div class="accordion-header">Cabeçalho</div>
                <div class="accordion-content open">
                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-6">
                                <label class="control-label col-sm-3" for="inpNome">Nome da empresa</label>
                                <input type="text" class="form-control" id="inpNome" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-5"></div>
                            <div class="form-group has-feedback col-md-1">
                                <button class="btn btn-warning">SALVAR</button>
                            </div>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-6">
                                <label class="control-label col-sm-3" for="inpLogo">Logo</label>
                                <input type="file" class="form-control" id="inpLogo" aria-describedby="inputSuccess2Status" >
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- BOX 2 -->
                <div class="accordion-header">Rodapé</div>
                <div class="accordion-content">
                    <form class="form-group">
                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpEnd">Endereço</label>
                                <input type="text" class="form-control" id="inpEnd" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpBairro">Bairro</label>
                                <input type="text" class="form-control" id="inpBairro" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-1"></div>
                            <div class="form-group has-feedback col-md-1">
                                <button class="btn btn-warning">SALVAR</button>
                            </div>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpNumero">Número</label>
                                <input type="password" class="form-control" id="inpNumero" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpCep">CEP</label>
                                <input type="password" class="form-control" id="inpCep" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpEmail">E-mail</label>
                                <input type="password" class="form-control" id="inpEmail" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>

                            <div class="form-group has-feedback col-md-5">
                                <label class="control-label col-sm-3" for="inpCnpj">CNPJ</label>
                                <input type="password" class="form-control" id="inpCnpj" aria-describedby="inputSuccess2Status">
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>