<section ng-controller="HomeController as home">
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-9">
            <h1 class="titulo">Gerenciador de documentos</h1>

            <div id="accordion">

                <!-- BOX 1 -->
                <div class="accordion-header">Buscar por documentos</div>
                <div class="accordion-content">


                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Busca por documentos">
                                <div class="input-group-addon btn"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </form>

                    <hr/>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Edição</th>
                                <th>Título</th>
                                <th>Categoria</th>
                                <th>Data</th>
                                <th>Hora</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>Título 1</td>
                                <td>Cat um</td>
                                <td>15/05/2015</td>
                                <td>08:30</td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>Título dois</td>
                                <td>Categoria 2</td>
                                <td>15/05/2015</td>
                                <td>08:30</td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>Titulo 3</td>
                                <td>C 3</td>
                                <td>15/05/2015</td>
                                <td>08:30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- BOX 2 -->
                <div class="accordion-header">Criar novo documento</div>
                <div class="accordion-content">
                    <form class="form-group">
                        <!-- BTN SALVAR -->
                        <div class="form-group pull-right" ng-click="enviar()">
                            <button class="btn btn-warning">SALVAR</button>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <!-- EDICAO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" placeholder="Edição" ng-model="arq.edicao">
                            </div>

                            <!-- CERTIFICADO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" placeholder="Certificado" ng-model="arq.certificado">
                            </div>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <!-- DESCRICAO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control " placeholder="Descrição" ng-model="arq.descricao">
                            </div>

                            <!-- CATEGORIA -->
                            <div class="form-group col-md-3">
                                <select class="form-control" ng-model="arq.id_categoria" ng-change="buscaSub()">
                                    <option value="">Escolha uma categoria</option>
                                    <option ng-repeat="cat in listCat" value="{{ cat.idCategoria }}" >{{ cat.nome }}</option>
                                </select>
                            </div>

                            <!-- SUB CATEGORIA -->
                            <div class="form-group col-md-3" ng-hide="listSub == '' || listSub == undefined">
                                <select class="form-control" ng-model="arq.id_subCategoria">
                                    <option value="">Sub Categoria</option>
                                    <option ng-repeat="sub in listSub" value="{{ sub.idSubCategoria }}">{{ sub.nome }}</option>
                                </select>
                            </div>
                        </div>

                        <div class=" form-group form-inline col-md-12">
                            <!-- TITULO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control " placeholder="Título" ng-model="arq.titulo">
                            </div>

                            <!-- DATA E HORA -->
                            <div class="form-group col-md-5">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" id="inpData" placeholder="Data e hora" ng-model="arq.dataHora"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- CONTEUDO -->
                        <div class="textareaHome">
                            <textarea class="" id="inpConteudo" ng-model="arq.conteudo"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>