<section ng-controller="HomeController as home">
    <div class="container-fluid">
        <div class="col-md-2"></div>

        <div class="col-md-9">
            <h1 class="titulo">Gerenciador de documentos</h1>

            <div id="accordion">

                <!-- BOX 1 -->
                <div class="accordion-header">Buscar por documentos</div>
                <div class="accordion-content">


                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Busca por documentos">
                                <div class="input-group-addon btn"><i class="glyphicon glyphicon-search"></i></div>
                            </div>
                        </div>
                    </form>

                    <hr/>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Edição</th>
                                <th>Título</th>
                                <th>Categoria</th>
                                <th>Data e hora</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>001</td>
                                <td>Título 1</td>
                                <td>Cat um</td>
                                <td>15/05/2015 08:30</td>
                                <td>
                                    <button class="btn btn-sm btn-info" title="Editar" ng-click="editar($index)"> <i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-info" title="Excluir" ng-click="excluir($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>Título dois</td>
                                <td>Categoria 2</td>
                                <td>15/05/2015 08:30</td>
                                <td>
                                    <button class="btn btn-sm btn-info" title="Editar" ng-click="editar($index)"> <i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-info" title="Excluir" ng-click="excluir($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>003</td>
                                <td>Titulo 3</td>
                                <td>C 3</td>
                                <td>15/05/2015 08:30</td>
                                <td>
                                    <button class="btn btn-sm btn-info" title="Editar" ng-click="editar($index)"> <i class="glyphicon glyphicon-pencil"></i></button>
                                    <button class="btn btn-sm btn-info" title="Excluir" ng-click="excluir($index)"> <i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- BOX 2 -->
                <div class="accordion-header">Criar novo documento</div>
                <div class="accordion-content open">
                    <form class="form-group formAddArq" action="/arq/create" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_token" value="{{ csrf }}" />

                        <div class="form-group form-inline has-error col-md-12" ng-show="hasError">
                            <label class="control-label col-sm-6">
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                Erro ao enviar <br/>
                                <ul>
                                    <li ng-repeat="e in erro"> {{ e.erro }}</li>
                                </ul>
                            </label>
                        </div>
                        <!-- BTN SALVAR -->
                        <div class="form-group pull-right">
                            <button type="button" class="btn btn-warning" ng-click="enviar()">SALVAR</button>
                            <button type="button" class="btn btn-warning" ng-click="limpar()">LIMPAR</button>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <!-- EDICAO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" ng-keyup="validaNumero()" placeholder="Número da Edição" name="edicao" ng-model="arq.edicao" maxlength="10">
                            </div>

                            <!-- CERTIFICADO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" placeholder="Certificado" name="certificado" ng-model="arq.certificado" maxlength="128">
                            </div>
                        </div>

                        <div class="form-group form-inline col-md-12">
                            <!-- DESCRICAO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control " placeholder="Descrição" name="descricao" ng-model="arq.descricao" maxlength="240">
                            </div>

                            <!-- CATEGORIA -->
                            <div class="form-group col-md-3">
                                <select class="form-control" name="id_categoria" ng-model="arq.id_categoria" ng-change="buscaSub()">
                                    <option value="">Escolha uma categoria</option>
                                    <option ng-repeat="cat in listCat" value="{{ cat.idCategoria }}" >{{ cat.nome }}</option>
                                </select>
                            </div>

                            <!-- SUB CATEGORIA -->
                            <div class="form-group col-md-3" ng-hide="listSub == undefined">
                                <select class="form-control" name="id_subCategoria" ng-model="arq.id_subCategoria">
                                    <option value=""></option>
                                    <option ng-repeat="sub in listSub" value="{{ sub.idSubCategoria }}">{{ sub.nome }}</option>

                                </select>
                            </div>
                        </div>

                        <div class=" form-group form-inline col-md-12">
                            <!-- TITULO -->
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" placeholder="Título" name="titulo" ng-model="arq.titulo" maxlength="60">
                            </div>

                            <!-- DATA E HORA -->
                            <div class="form-group col-md-3">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" placeholder="Data e hora" id="inpData" name="dataHora" ng-model="arq.dataHora" maxlength="16"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <!-- ANEXO -->
                            <div class="form-group col-md-3">
                                <input style="float:right; margin-top:-1000px; z-index:-999;" placeholder="Enviar anexo"  id="anexo" accept=".pdf" type="file" name="anexo" ng-model="arq.anexo"/>

                                <div id="foto_perfil" ng-click="anexo()">
                                    <i class="glyphicon glyphicon-file"></i> Inserir anexo {{ arq.anexo }}
                                </div>
                            </div>
                        </div>

                        <!-- CONTEUDO -->
                        <div class="textareaHome col-md-12">
                            <textarea id="inpConteudo" name="conteudo" ng-model="arq.conteudo"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>